@import "base/variables";
@import "base/mixins";
html {
    color: $light-text-color;
}

body {
    position: relative;
    background-color: $bgr-color;
    height: auto;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

@import "blocks/line-bg/line-bg";
@import "blocks/buttons/buttons";
@import "blocks/titles/titles";
@import "blocks/subtitles/subtitles";

@import "blocks/header/header";
@import "blocks/promo/promo";
@import "blocks/knowing/knowing";
@import "blocks/about-us/about-us";
@import "blocks/decision/decision";
@import "blocks/audit/audit";
@import "blocks/form-call/form-call";
@import "blocks/calc/calc";
@import "blocks/services/services";
