.audit {
    position: relative;
    &__wrapper {
        padding: 60px 0 50px;
    }
    &__text {
        max-width: 310px;
    }
    &__subtitle-mini {
        margin-top: 20px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }
    .red-ball {
        width: 83px;
        height: 83px;
        top: -15px;
        right: 215px;
    }
    .red-light {
        width: 670px;
        height: 670px;
        right: 0;
        top: 2px;
    }
    .purple-ball {
        width: 38px;
        height: 38px;
        right: 0;
        transform: translateX(50%);
        top: 333px;
    }
    .purple-light {
        width: 606px;
        height: 606px;
        left: -50%;
        top: 405px;
        opacity: 0.4;
        filter: blur(849px);
    }
    .glass-bg {
        height: 1155px;
        left: 0;
        top: 0px;
        &::after {
            background: linear-gradient(90deg, #fcb045 0%, rgba(253, 29, 29, 0.7) 30.37%, rgba(253, 29, 29, 0) 43.81%);
        }
    }
}
