.integration {
    padding: 150px 0 0;
    &__wrapper {
    }
    &__subtitle {
        margin-top: 70px;
        max-width: 380px;
    }
    &__items {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-top: 40px;
    }
    &__item-title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    &__company {
        margin-top: 5px;
        img {
            display: block;
            margin-top: 25px;
            filter: grayscale(100%);
            transition: filter 0.2s;
            &:hover {
                filter: grayscale(0%);
                cursor: pointer;
            }
        }
        div > img {
            display: inline-block;
            &:first-child {
                margin-right: 10px;
            }
        }
    }
    .dots {
        position: absolute;
        right: 0;
        top: -400px;
        opacity: 0.5;
    }
    .red-ball {
        width: 33px;
        height: 33px;
        right: 0;
        transform: translateX(50%);
        bottom: 72px;
        filter: blur(5px);
    }
    .purple-ball {
        width: 34px;
        height: 34px;
        right: 150px;
        top: 117px;
        filter: blur(4px);
    }
}
