.clients {
    padding: 150px 0;
    &__text {
        display: grid; 
        grid-template-columns: minmax(max-content, 475px) minmax(max-content, 300px);
        margin-top: 70px;
    }
    &__subtitle {
        max-width: 390px;
    }
    &__subtitle-mini {
        max-width: 310px;
    }
    &__items {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-top: 30px;
    }
    &__descr {
        margin-top: 10px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    .purple-ball {
        width: 18px;
        height: 18px;
        right: 156px;
        top: 138px;
    }
}
