.widgets {
    &__wrapper {
        padding: 170px 0 150px;
    }
    &__text {
        display: grid; 
        grid-template-columns: minmax(max-content, 475px) minmax(max-content, 300px);
        margin-top: 70px;
    }
    &__subtitle {
        max-width: 260px;
    }
    &__subtitle-mini {
        max-width: 275px;
    }
    &__container {
        width: 100%;
        height: 596px;
        background: url(../img/noise-bg.png),
            linear-gradient(
                152.66deg,
                rgba(26, 29, 35, 0.1) -0.56%,
                rgba(26, 29, 35, 0.1) 30.32%,
                rgba(26, 29, 35, 0.1) 59.86%,
                rgba(26, 29, 35, 0.2) 89.45%,
                rgba(26, 29, 35, 0.2) 115.41%
            );
        backdrop-filter: blur(15px);
        margin-top: 50px;
        border: 1px solid #25262c;
        display: flex;
        justify-content: space-between;
    }
    &__content {
        padding: 30px;
        width: 100%;
        max-width: 780px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    &__descr {
        padding: 30px 35px;
    }
    &__descr-title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    &__list {
        margin-top: 20px;
        display: grid;
        grid-template: auto auto / auto auto;
        max-width: 587px;
    }
    &__list-item {
        position: relative;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        padding: 5px 0 5px 30px;
        list-style-type: none;
        box-sizing: border-box;
        max-width: 285px;
        &::before {
            content: "";
            position: absolute;
            top: 1em;
            left: 0;
            height: 1px;
            width: 20px;
            background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
        }
    }
    &__try {
        background: linear-gradient(90deg, rgba(14, 16, 20, 0.6) 0%, rgba(14, 16, 20, 0) 102.91%);
        padding: 20px 30px 20px 50px;
        .widgets__list {
            display: block;
            max-width: 336px;
        }
    }
    &__form {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__button {
        display: block;
    }
    &__widgetlist {
        width: 360px;
        overflow-y: scroll;
        &::-webkit-scrollbar-track {
            background: rgba(101, 101, 102, 0.4);
            border-radius: 10px;
        }
    }
    &__widgetlist-item {
        display: flex;
        align-items: center;
        width: 100%;
        height: 78px;
        padding: 20px;
        box-sizing: border-box;
        background: linear-gradient(95.49deg, rgba(255, 246, 233, 0.1) 8.22%, rgba(26, 29, 35, 0.1) 75.4%);
        backdrop-filter: blur(15px);
        border: 1px solid transparent;
        cursor: pointer;
        transition: all 0.1s;
        img {
            width: 30px;
            height: 30px;
        }
        p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            margin-left: 20px;
        }
        &:hover {
            background: linear-gradient(
                152.66deg,
                rgba(26, 29, 35, 0.1) -0.56%,
                rgba(26, 29, 35, 0.1) 30.32%,
                rgba(26, 29, 35, 0.1) 59.86%,
                rgba(26, 29, 35, 0.2) 89.45%,
                rgba(26, 29, 35, 0.2) 115.41%
            );
            border: 1px solid #656566;
            p {
                color: #fff;
            }
        }
        &:active {
            background: linear-gradient(
                152.66deg,
                rgba(26, 29, 35, 0.1) -0.56%,
                rgba(26, 29, 35, 0.1) 30.32%,
                rgba(26, 29, 35, 0.1) 59.86%,
                rgba(26, 29, 35, 0.2) 89.45%,
                rgba(26, 29, 35, 0.2) 115.41%
            );
            border: 1px solid transparent;
            p {
                color: #656566;
            }
        }
    }
    .purple-ball {
        width: 60px;
        height: 60px;
        right: 240px;
        top: 355px;
    }
    .yellow-light {
        width: 265px;
        height: 265px;
        left: -250px;
        bottom: 237px;
        opacity: 0.2;
        filter: blur(150px);
    }
    .yellow-ball {
        width: 61px;
        height: 61px;
        bottom: 333px;
        left: 0;
        transform: translateX(-50%);
        filter: blur(2px);
    }
    .purple-light {
        width: 265px;
        height: 265px;
        right: 0;
        bottom: 410px;
        opacity: 0.2;
        filter: blur(150px);
    }
}
