.special {
    position: relative;
    min-height: 413px;
    &__wrapper {
        padding: 50px 0;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
    }
    &__subtitle {
        max-width: 320px;
    }
    &__subtitle-mini {
        max-width: 270px;
        margin-top: 30px;
    }
    .glass-bg {
        top: 0;
    }
    .red-light {
        width: 317px;
        height: 317px;
        right: -150px;
        top: -45px;
        filter: blur(150px);
    }
    .red-ball {
        width: 29px;
        height: 29px;
        right: 10.5%;
        top: -10px;
        filter: blur(5px);
    }
    .purple-light {
        width: 314px;
        height: 311px;
        left: 127px;
        top: 50%;
        filter: blur(300px);
    }
    .yellow-ball {
        width: 46px;
        height: 46px;
        left: 449px;
        bottom: 0;
        transform: translateY(50%);
    }
}

.demonstration {
    .yellow-ball {
        width: 30px;
        height: 30px;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    .red-ball {
        top: 95px;
    }
    .purple-ball {
        width: 32px;
        height: 32px;
        bottom: 0;
        transform: translateY(50%);
        right: 21.7%;
    }
    .red-light {
        filter: blur(400px);
        opacity: 0.6;
    }
}
